  
  .product-card {
    background-color: #fff;
    border: 1px solid #e1e1e1;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    width: 350px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .product-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
  }
  
  .product-card img {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
    transition: transform 0.3s ease;
  }
  
  .product-card img:hover {
    transform: scale(1.05);
  }
  
  .product-card h2 {
    font-size: 1.8em;
    margin: 10px 0;
    color: #333;
  }
  
  .product-card p.description {
    color: #777;
    font-size: 1em;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  .product-card .price,
  .product-card .discounted-price {
    display: inline-block;
    margin-bottom: 10px;
  }
  
  .product-card .price {
    color: #b12704;
    font-size: 1.4em;
    font-weight: bold;
    margin-right: 10px;
  }
  
  .product-card .discounted-price {
    color: #007600;
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: line-through;
  }
  
  .product-card button {
    background-color: #007bff;
    border: none;
    color: #fff;
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .product-card button:hover {
    background-color: #0056b3;
  }
  