extends ../../layouts/default.pug
include ../../mixins/alert.pug
block main 
    +alert-error(2000)
    h1(class="mb-4") Thêm mới phân quyền 
    form(
        action="create",
        method="POST"
    ) 
        div(class="form-group")
            label(for="title") Tiêu đề
            input(type="text", class="form-control", id="title", name="title", required)
        div(class="form-group")
            label(for="desc") Mô tả
            textarea(name="description", row="5", class="form-control", id="desc")    
        div(class="form-group")
            button(
                type="submit"
                class="btn btn-primary"
            ) Tạo mới
